# Analysis Phase

In [12]:
import pandas as pd 
import matplotlib.pyplot as plt

df = pd.read_csv('../cleaned_data/cleaned_transactions.csv')

## Golden Table calculation

In [13]:
summary = (
    df.groupby(['LIFESTAGE', 'PREMIUM_CUSTOMER']).agg(
            TOTAL_VALUE=('TOT_SALES', 'sum'),
            TOTAL_VOLUME=('PROD_QTY', 'sum'),
            TOTAL_TRANSACTIONS=('TXN_ID', 'nunique'),
            TOTAL_CUSTOMERS=('LYLTY_CARD_NBR', 'nunique')
        ).reset_index()
)

In [22]:
summary = summary.sort_values('TOTAL_VALUE', ascending=False)

summary['AVG_EXP_PER_TRANSACTION'] = summary['TOTAL_VALUE'] / summary['TOTAL_TRANSACTIONS']
summary['AVG_PRICE_PER_UNIT_SALE'] = summary['TOTAL_VALUE'] / summary['TOTAL_VOLUME']

summary.head(10)

,LIFESTAGE,PREMIUM_CUSTOMER,TOTAL_VALUE,TOTAL_VOLUME,TOTAL_TRANSACTIONS,TOTAL_CUSTOMERS,AVG_EXP_PER_TRANSACTION,AVG_PRICE_PER_UNIT_SALE
6,OLDER FAMILIES,Budget,156096.75,41558,21173,4606,7.372444,3.756118
19,YOUNG SINGLES/COUPLES,Mainstream,147244.20,36095,19411,7908,7.585606,4.079352
13,RETIREES,Mainstream,144677.55,37488,19780,6345,7.314335,3.859303
15,YOUNG FAMILIES,Budget,129151.15,34264,17517,3951,7.372903,3.769296
9,OLDER SINGLES/COUPLES,Budget,127279.80,32670,16970,4839,7.500283,3.895923
10,OLDER SINGLES/COUPLES,Mainstream,124089.50,32392,16846,4854,7.366111,3.830869
11,OLDER SINGLES/COUPLES,Premium,123141.55,31543,16394,4679,7.511379,3.903926
12,RETIREES,Budget,105586.10,26805,14079,4376,7.499545,3.939045
7,OLDER FAMILIES,Mainstream,96059.95,25668,13059,2782,7.355843,3.742401
14,RETIREES,Premium,91013.25,23157,12121,3808,7.508725,3.930269

## Total sales by customer segment

## Average transaction value per segment

## Brand preferences by segment

## Pack size preferences by segment

## Purchase frequency

## Total customer value by segment